/* Style untuk tampilan home officer  */

html,
body {
  min-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden;
  background-color: white;
}

.containerPerusahaanPayer {
  padding-top: 90px;
  padding-bottom: 20px;
  display: flex;
  background-color: #acacac;
}

.rowInfoPerusahaan {
  display: grid;
  margin-top: 20px;
  margin: auto;
}

.borderLogoPerusahaan {
  text-align: center;
}

.logoPerusahaan {
  width: 170px;
}

.bagianInfoWp {
  border: 1px solid black;
  padding: inherit;
  border-radius: 10px;
}

.infoPerusahaan {
  display: grid;
  text-align: center;
  margin-top: 20px;
}

.rowGantiListStatus {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 0px 0px;
}

.kalimatStatusLaporan {
  margin: auto;
  text-align: end;
}

.pilihStatusPajak {
  width: 25%;
}

.rowStatusLaporan {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dt-right {
  text-align: left;
}

@media (max-width: 767px) {
  .containerPerusahaanPayer {
    padding-bottom: 20px;
    background-color: #acacac;
  }

  .dt-right {
    text-align: right;
  }

  .rowInfoPerusahaan {
    display: flex;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  .kotakBorderLogo {
    width: 35%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .borderLogoPerusahaan {
    text-align: end;
  }

  .infoPerusahaan {
    text-align: left;
    width: 65%;
    margin: auto;
    padding-left: 10px;
  }

  .logoPerusahaan {
    width: 90px;
  }

  .rowStatusLaporan {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .kalimatStatusLaporan {
    margin: auto;
    text-align: end;
    width: 55%;
    font-size: 13px;
  }

  .statusLaporan {
    width: 45%;
    padding-left: 0px;
  }

  .pilihStatusPajak {
    width: 84%;
    font-size: 13px;
  }

  .statusLaporan {
    text-align: right;
    font-size: 12px;
  }

  .nomorSkpd {
    font-size: 12px;
  }

  .masaPajak {
    font-size: 12px;
  }

  .detilLaporan {
    font-size: 13px;
  }

  .totalPajak {
    font-size: 17px;
  }

  .namaReklame {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .borderLogoPerusahaan {
    text-align: end;
  }

  .statusLaporan {
    text-align: right;
    font-size: 11px;
  }

  .detilLaporan {
    font-size: 12px;
  }

  .pilihStatusPajak {
    width: 83%;
    font-size: 12px;
  }

  .totalPajak {
    font-size: 13px;
  }

  .namaReklame {
    font-size: 16px;
  }

  .infoPerusahaan {
    text-align: left;
    width: 65%;
    margin: auto;
    padding-left: 10px;
    padding-right: 0px;
  }
}

@media (max-width: 320px) {
  .statusLaporan {
    text-align: right;
    font-size: 11px;
  }

  .detilLaporan {
    font-size: 12px;
  }

  .pilihStatusPajak {
    width: 95%;
    font-size: 12px;
  }

  .totalPajak {
    font-size: 13px;
  }

  .namaReklame {
    font-size: 16px;
  }

  .infoPerusahaan {
    text-align: left;
    width: 65%;
    margin: auto;
    padding-left: 10px;
    padding-right: 0px;
  }

  .borderLogoPerusahaan {
    text-align: end;
  }
}
