/* Style untuk tampilan navbar officer */

html,
body {
  min-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden;
  background-color: white;
}

.navigasiUserName {
  font-size: 20px;
}

.tombolKeluar {
  font-size: 19px;
}

@media (max-width: 767px) {
  .navigasiUserName {
    font-size: 15px;
  }

  .tombolKeluar {
    font-size: 13px;
  }
}
