/* Style untuk tampilan home officer  */

html,
body {
  min-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

.buttonUnduhSemuaQR svg {
  transition: 0.3s;
}

.buttonUnduhSemuaQR svg:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.idKodeUnik {
  padding-right: 35px;
}

.statusScan {
  padding-left: 70px;
}

.downloadQr {
  padding-left: 34px;
}

.buttonTambahData {
  background-color: #62e7c8;
}

.kontenBerandaOfficer {
  margin-top: 0px;
  background-color: #f7f7f7;
  padding-bottom: 50px;
  padding-top: 90px;
  /* background-image: url("../images/pattern_triangles.png"); */
}

.kontenDaftarKodeQrOfficer {
  margin-top: 0px;
  background-color: #f7f7f7;
  padding-bottom: 150px;
  padding-top: 105px;
}

.judulHomeOfficer {
  padding: 20px 0px;
  margin-bottom: 20px;
  font-weight: 800;
  color: #17345f;
}

.officerCariSSPD {
  position: relative;
}

.officerCariSSPD svg {
  position: absolute;
  left: 195px;
  top: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: grey;
  transition: 0.4s;
}

.officerCariSSPD svg:hover {
  color: #ed7f10;
  transition: 0.4s;
}

.dt-right {
  text-align: center;
}

.officerCariID {
  position: relative;
}

.officerCariID svg {
  position: absolute;
  left: 183px;
  top: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: grey;
  transition: 0.4s;
}

.officerCariID svg:hover {
  color: #ed7f10;
  transition: 0.4s;
}

.inputSSPD {
  border-radius: 5px;
  height: 40px;
  width: 25%;
}

.inputIdQr {
  border-radius: 5px;
  height: 40px;
  width: 79%;
}

.tombolTambahSSPD {
  padding-top: 25px;
}

.tabelSSPD {
  margin-top: 30px;
}

.kotakTableSSPD {
  border: 1px solid lightgray;
  margin-bottom: 30px;
}

.buttonGenerateQR {
  color: white;
  background-color: rgb(16, 185, 16);
  transition: 0.4s;
  border-radius: 5px;
}

.buttonGenerateQR:hover {
  color: black;
  background-color: rgb(20, 170, 20);
  transition: 0.4s;
}

.statusBelumScan svg {
  color: red;
  width: 25px;
  height: 25px;
}

.statusSudahScan svg {
  color: rgb(79, 216, 45);
  width: 25px;
  height: 25px;
}

.tombolDownloadKodeQrSatuan svg {
  color: black;
  transition: 0.4s;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.tombolDownloadKodeQrSatuan svg:hover {
  color: #2e84be;
  transition: 0.4s;
  cursor: pointer;
}

.tombolCetakKodeQrSatuan svg {
  width: 30px;
  height: 30px;
  color: grey;
  cursor: pointer;
  transition: 0.4s;
}

.tombolCetakKodeQrSatuan svg:hover {
  color: rgb(206, 112, 6);
  cursor: pointer;
  transition: 0.4s;
}

.tombolBacktoDaftarSSPD {
  color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #007bff;
  text-align: center;
  padding: 10px;
  width: 110px;
  display: flex;
  transition: 0.4s;
  cursor: pointer;
}

.tombolBacktoDaftarSSPD:hover {
  background-color: #1d93dc;
  transition: 0.4;
}

.tombolBacktoDaftarSSPD svg {
  height: 25px;
  width: 25px;
}

.listSspd {
  margin-top: 30px;
  text-align: center;
  padding-left: 0px;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 0.2rem;
}
.dh {
  font-weight: bold;
}
.dt .row {
  align-items: top;
}

.dt-right {
  text-align: center;
}

.kodeQr {
  margin: auto;
  text-align: center;
}

.tombolPrintSemuaQr {
  margin-bottom: 20px;
  display: flex;
  text-align: right;
}

.tombolDownloadSemuaQr {
  display: flex;
  text-align: right;
}

.barisNomorSspd {
  margin: auto;
}

.statusValidasi {
  margin: auto;
  text-align: center;
}

.namaReklame {
  margin: auto;
}

.jenisReklame {
  padding-left: 15px;
  margin: auto;
}

.namaWp {
  margin: auto;
}

.tombolGenerateQr {
  font-size: 16px;
}

.pelanggaran p:hover {
  color: blue;
}

.pelanggaran p {
  margin-bottom: 0;
}
.pagination {
  margin-bottom: 0;
  margin-left: auto;
  display: table;
}
.pagination li {
  display: inline-block;
}

.tombolDownloadKodeSatuan {
  text-align: center;
}

.kotakButtonKembali {
  padding-top: "3px";
  padding-left: "3px";
  color: "white";
}

.tombolKembali {
  color: white;
}

.tombolDownloadSatuanKode {
  text-align: center;
}

.bodyModal {
  padding: "20px";
  background-color: silver;
  border: solid 1px silver;
  min-height: 400px;
}

.boxPelanggaran {
  margin-top: 90px;
}

.boxPelanggaran h4 {
  color: #e43c25;
  font-size: 34px;
}

.boxPelanggaran p {
  text-align: center;
  font-weight: 800;
}

@media (max-width: 768px) {
  .officerCariSSPD svg {
    position: absolute;
    left: 110px;
    top: 10px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    color: grey;
    transition: 0.4s;
  }
}

@media (max-width: 767px) {
  .pelanggaran {
    padding-right: 0px;
  }

  .tombolBacktoDaftarSSPD {
    color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #007bff;
    text-align: center;
    padding: 10px;
    width: 90px;
    display: flex;
    transition: 0.4s;
    cursor: pointer;
  }

  .tombolKembali {
    color: white;
    font-size: 13.5px;
  }

  .tombolDownloadSatuanKode {
    text-align: left;
  }

  .statusValidasi {
    margin: auto;
    text-align: right;
  }
  .kodeQr {
    margin: auto;
    text-align: right;
  }

  .cariSspdMobile {
    width: 56%;
  }

  .tombolTambahSSPD {
    width: 41%;
  }

  .kontenBerandaOfficer {
    margin-top: 0px;
    background-color: #f7f7f7;
    padding-bottom: 30px;
    padding-top: 70px;
  }

  .kontenDaftarKodeQrOfficer {
    margin-top: 0px;
    background-color: #f7f7f7;
    padding-bottom: 150px;
    padding-top: 85px;
  }

  .judulHomeOfficer {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .listSspd {
    margin-top: 30px;
    text-align: initial;
  }

  .inputSSPD {
    border-radius: 5px;
    height: 40px;
    width: 157px;
    font-size: 13px;
  }

  .officerCariSSPD svg {
    position: absolute;
    left: 125px;
    top: 10px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    color: grey;
    transition: 0.4s;
  }

  .keteranganCari {
    font-size: 12px;
  }

  .dh {
    display: none;
  }
  .dt .row {
    align-items: center;
  }
  .dt-title {
    font-weight: bold;
    margin: 0.5rem 0;
  }
  .dt-bold {
    font-weight: bold;
  }
  .dt-small {
    font-size: 10px;
  }
  .dt-center {
    text-align: center;
  }
  .dt-right {
    text-align: right;
  }

  .jenisReklame {
    padding-left: 15px;
    margin: initial;
    font-size: 12px;
  }

  .namaReklame {
    margin: initial;
    font-size: 17px;
  }

  .namaWp {
    margin: initial;
    font-size: 15px;
  }

  .tombolDownloadSemuaQr div {
    font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 40%;
  }

  .tombolPrintSemuaQr {
    font-size: 14px;
    display: grid;
    text-align: center;
    width: 50%;
    margin-bottom: 0px;
  }

  .officerCariID {
    margin-bottom: 20px;
  }

  .tombolDownloadKodeQrSatuan {
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
  }

  .inputIdQr {
    border-radius: 5px;
    height: 40px;
    width: 65%;
  }

  .tombolGenerateQr {
    font-size: 11px;
  }

  .pelanggaran p {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .nama-wp {
    font-size: 13px;
  }

  .inputSSPD {
    border-radius: 5px;
    height: 33px;
    width: 171px;
    font-size: 13px;
  }

  .officerCariSSPD svg {
    left: 141px;
    top: 7px;
  }
}

@media (max-width: 320px) {
  .keteranganCari {
    font-size: 10px;
  }

  .inputSSPD {
    border-radius: 5px;
    height: 31px;
    width: 146px;
    font-size: 13px;
  }

  .officerCariSSPD svg {
    left: 118px;
    top: 6px;
  }
}
