style untuk page input lokasi reklame payer html,
body {
  min-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden;
}

.kontenInputLokasiPayer {
  padding-top: 100px;
}

.kotakLogoPetaPayer {
  margin-top: 0px;
}

.judulKontenLokasiPayer {
  margin-bottom: 20px;
}

.inputNamaObjekPajak {
  margin-bottom: 20px;
}

.kotakSearchLokasi {
  display: flex;
  margin-bottom: 15px;
}

.input-group-text {
  padding: 3px 3px;
}

.logoPeta {
  width: 35px;
  height: 31px;
  margin-left: 0px;
  cursor: pointer;
  z-index: 1;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

.markerLokasi {
  position: absolute;
  z-index: 3;
  top: 41.5%;
  left: 48%;
}

.markerLokasi svg {
  width: 40px;
  height: 40px;
  color: #2565af;
}

.colKotakInputLokasi {
  height: 500px;
}

.colKotakFormInput {
  height: 500px;
}

.mapboxgl-canvas-container canvas {
  width: 570px;
  height: 500px;
}

.barInputLokasiPayer {
  width: 76%;
}

.buttonKembali {
  margin-right: 20px;
}

.barInputNamaObjek {
  margin-top: 10px;
  width: 60%;
}

.keterananTambahanLokasi {
  display: grid;
  margin-bottom: 35px;
}

.rowButton {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.iconSearchLokasi {
  font-size: 24px;
  border: solid 1px silver;
  border-radius: 10%;
  padding: 0 5px;
  position: absolute;
  left: 393px;
}

.iconSearchLokasi svg {
  margin-bottom: 5px;
}

.barRekomendasiLokasi {
  width: 89%;
  border: 1px solid silver;
  border-radius: 5%;
  padding: 10px;
}

@media (max-width: 1024px) {
  .iconSearchLokasi {
    left: 349px;
  }
}

@media (max-width: 768px) {
  .barInputLokasiPayer {
    width: 70%;
  }

  .iconSearchLokasi {
    left: 274px;
  }

  .markerLokasi {
    position: absolute;
    z-index: 3;
    top: 41.5%;
    left: 44%;
  }
}

@media (max-width: 414px) {
  .iconSearchLokasi {
    left: 301px;
  }
}

@media (max-width: 411px) {
  .iconSearchLokasi {
    left: 299px;
  }
}

@media (max-width: 375px) {
  .iconSearchLokasi {
    left: 281px;
  }
}

@media (max-width: 360px) {
  .iconSearchLokasi {
    left: 274px;
  }
}

@media (max-width: 320px) {
  .iconSearchLokasi {
    left: 254px;
  }
}
