/* Style untuk tampilan home officer  */

.kontenBerandaSurveyor {
  background-color: white;
  padding-bottom: 150px;
  padding-top: 30px;
}

.judulScanQrSurveyor {
  font-size: 35px;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 20px;
}

.checkSnackBar svg {
  width: 40px;
  height: 40px;
  color: rgb(163, 255, 71);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
}

.containerKotakScannerQr {
  text-align: center;
}

.kotakScannerQr {
  border-radius: 10px;
  width: 40%;
  height: 350px;
  margin: auto;
}

.kotakScannerQr video {
  border-radius: 10px;
}

@media (max-width: 767px) {
  .kontenBerandaSurveyor {
    background-color: white;
    padding-bottom: 135px;
    padding-top: 30px;
  }
  .judulScanQrSurveyor {
    font-size: 25px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
  }

  .kotakScannerQr {
    width: 85%;
  }
}
