/* Style untuk tampilan navbar officer */

.judulDetilReklameSurveyor {
  display: grid;
  text-align: center;
  padding-bottom: 20px;
}

.checkSnackBar {
  width: 40px;
  height: 40px;
  color: rgb(163, 255, 71);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}

.judulReklameSurveyor {
  font-size: 30px;
}

.nomorSspdDetilReklame {
  font-size: 20px;
}

.kotakInfoDetilReklame {
  padding: 25px;
}

.rowInfoDetilReklame {
  padding-bottom: 10px;
}

.spacePelanggaranKosong {
  padding-bottom: 35px;
}

.catatanPelanggaran {
  padding-bottom: 15px;
  padding-top: 5px;
}

.textAreaPelanggaran {
  padding: 0px 40px;
  height: 94px;
}

.kontenDetilReklameSurveyor {
  padding-top: 95px;
  background-color: white;
  padding-bottom: 68px;
}

textarea.form-control {
  height: 120px;
}

.tombolReport {
  text-align: center;
  padding-top: 30px;
  margin-top: 15px;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

.kotakPeta {
  border-radius: 10px;
  z-index: 3;
}

@media (max-width: 767px) {
  .judulDetilReklameSurveyor {
    padding-bottom: 10px;
  }

  .judulReklameSurveyor {
    font-size: 25px;
  }

  .nomorSspdDetilReklame {
    font-size: 15px;
  }

  .judulMapsSurveyor {
    text-align: center;
    font-size: 31px;
    padding-bottom: 10px;
  }

  .kotakInfoDetilReklame {
    margin-top: 30px;
  }

  .rowInfoDetilReklame {
    padding: 8px 0px;
  }

  .leaflet-container {
    height: 300px;
    width: 100%;
  }

  .kontenDetilReklameSurveyor {
    padding-top: 85px;
  }

  .textAreaPelanggaran {
    padding: 0px 0px;
    height: 94px;
  }
}
