/* Style untuk tampilan home officer  */

html,
body {
  min-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

.kontenBerandaSurveyor {
  background-color: white;
  padding-bottom: 65px;
  padding-top: 30px;
  min-height: 100vh;
}

.judulScanQrSurveyor {
  font-size: 32px;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 20px;
}

.gifScanner {
  width: 350px;
  padding-top: 30px;
}

.kotakKalimatPetunjuk {
  margin-top: 10px;
  font-size: 28px;
  padding-top: 15px;
}

.kotakPetunjuk {
  text-align: center;
}

.checkSnackBar svg {
  width: 40px;
  height: 40px;
  color: rgb(163, 255, 71);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
}

.containerKotakScannerQr {
  text-align: center;
}

.kotakScannerQr {
  border-radius: 10px;
  width: 85%;
  height: 350px;
  margin: auto;
}

.kotakScannerQr video {
  border-radius: 10px;
}

@media (max-width: 767px) {
  .kotakScannerQr {
    height: 290px;
  }

  .kotakKalimatPetunjuk {
    margin-top: 60px;
    font-size: 17px;
  }

  .gifScanner {
    width: 165px;
    padding-top: 20px;
  }

  .kontenBerandaSurveyor {
    background-color: white;
    padding-bottom: 13px;
    padding-top: 30px;
  }
  .judulScanQrSurveyor {
    font-size: 19px;
    padding-top: 37px;
    text-align: center;
    padding-bottom: 8px;
  }

  .kotakScannerQr {
    width: 85%;
  }
}

@media (max-width: 414px) {
  .kotakKalimatPetunjuk {
    margin-top: 50px;
  }
}

@media (max-width: 411px) {
  .gifScanner {
    width: 200px;
    padding-top: 20px;
  }

  @media (max-height: 731px) {
    .kotakKalimatPetunjuk {
      margin-top: 45px;
    }
  }

  @media (max-height: 823px) {
    .kotakKalimatPetunjuk {
      margin-top: 80px;
    }
  }
}

@media (max-width: 375px) {
  .kotakScannerQr {
    height: 290px;
  }

  @media (max-height: 812px) {
    .kotakKalimatPetunjuk {
      margin-top: 75px;
      font-size: 15px;
    }
  }

  @media (max-height: 667px) {
    .kotakKalimatPetunjuk {
      margin-top: 10px;
      font-size: 15px;
    }
  }

  .gifScanner {
    width: 165px;
    padding-top: 15px;
  }

  .kontenBerandaSurveyor {
    background-color: white;
    padding-bottom: 13px;
    padding-top: 30px;
  }
  .judulScanQrSurveyor {
    font-size: 19px;
    padding-top: 37px;
    text-align: center;
    padding-bottom: 8px;
  }

  .kotakScannerQr {
    width: 85%;
  }
}

@media (max-width: 360px) {
  .kotakScannerQr {
    height: 247px;
  }

  .gifScanner {
    width: 145px;
    padding-top: 10px;
  }

  .kotakKalimatPetunjuk {
    margin-top: 50px;
  }
}

@media (max-width: 320px) {
  .kotakScannerQr {
    height: 247px;
  }

  .gifScanner {
    width: 145px;
    padding-top: 10px;
  }

  .kotakKalimatPetunjuk {
    margin-top: 0px;
  }
}
