/* Style untuk tampilan navbar officer */

body {
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

.markerLokasi {
  position: absolute;
  z-index: 3;
  top: 44%;
  left: 48.5%;
}

.markerLokasi svg {
  width: 40px;
  height: 40px;
  color: darkolivegreen;
}

@media (max-width: 767px) {
  .markerLokasi {
    position: absolute;
    z-index: 3;
    top: 44%;
    left: 44.5%;
  }
}
