/* Style untuk tampilan navbar officer */

.logoNavigasi {
  width: 50px;
  height: 50px;
  margin: 0px 25px;
}

.sambutanHeader {
  margin: 0px 270px;
}

.tombolKeluar {
  margin-left: 55px;
  transition: 0.4s;
}

.tombolKeluar:hover {
  color: white;
  transition: 0.4s;
}

.textTombol {
  color: black;
  text-decoration: none;
}

.textTombol:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 767px) {
  .logoNavigasi {
    width: 50px;
    height: 50px;
    margin: 0px 15px;
  }

  .sambutanHeader {
    margin: 0px 0px;
  }

  .tombolKeluar {
    margin-left: 0px;
  }

  .infoKota {
    text-align: right;
    margin-right: 0px;
  }
}
