/* Style untuk tampilan login */

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: white;
}

.loginWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 30px;
}

.logoStatusSuksesPembayaran {
  margin: 40px 50px;
}

.logoStatusSuksesPembayaran svg {
  width: 150px;
  height: 150px;
  color: chartreuse;
}

.logoStatusGagalPembayaran {
  margin: 40px 50px;
}

.logoStatusGagalPembayaran svg {
  width: 150px;
  height: 150px;
  color: rgb(246, 33, 33);
}

.tulisanGagalFontBesar {
  font-size: 16px;
}

.tulisanGagalFontKecil {
  font-size: 13px;
}

.rowinfoBayar {
  display: grid;
  margin-bottom: 30px;
}

.tulisanFontKecil {
  font-size: 13px;
}

.tulisanFontBesar {
  font-size: 16px;
}

.buttonBackToDetail {
  margin-bottom: 30px;
}

#statusPembayaranSuksesContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  margin-top: 0px;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#statusPembayaranGagalContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  margin-top: 50px;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.statusGagalPembayaranJudul {
  border-bottom: 2px solid rgb(229, 229, 229);
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.statusSuksesPembayaranJudul {
  border: 1px solid rgb(229, 229, 229);
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.loginPilihRole {
  margin: 5px 10px 5px 40px;
}

.loginRole {
  height: 35px;
  border-radius: 5px;
  width: 35%;
  font-size: 15px;
}

.navigasiKota {
  padding-left: 10px;
}

.loginError {
  color: red;
  font-size: 12px;
}

@media (max-width: 1024px) {
  #statusPembayaranGagalContent {
    margin-top: 350px;
  }

  #statusPembayaranSuksesContent {
    margin-top: 305px;
  }
}

@media (max-width: 768px) {
  .navigasiKota {
    font-size: 15px;
    padding-left: 0px;
  }

  input[type="text"],
  input[type="password"] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
  }

  input[type="submit"] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    transition: all 0.3s ease-in-out;
  }

  .loginWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin-top: 0px;
    padding: 0;
  }

  #statusPembayaranSuksesContent {
    margin-top: 145px;
  }

  #statusPembayaranGagalContent {
    margin-top: 200px;
  }

  .loginPilihRole {
    margin: 5px 10px 5px 40px;
  }
}

@media (max-width: 414px) {
  #statusPembayaranSuksesContent {
    margin-top: 70px;
  }

  #statusPembayaranGagalContent {
    margin-top: 110px;
  }

  .loginInputPassword svg {
    left: 245px;
  }
}

@media (max-width: 411px) {
  #statusPembayaranSuksesContent {
    margin-top: 70px;
  }
  #statusPembayaranGagalContent {
    margin-top: 120px;
  }
}

@media (max-width: 375px) {
  #statusPembayaranSuksesContent {
    margin-top: 35px;
  }

  #statusPembayaranGagalContent {
    margin-top: 80px;
  }

  .loginInputPassword svg {
    left: 225px;
  }
}

@media (max-width: 360px) {
  #statusPembayaranSuksesContent {
    margin-top: 30px;
  }

  #statusPembayaranGagalContent {
    margin-top: 70px;
  }

  .loginInputPassword svg {
    left: 215px;
  }
}

@media (max-width: 320px) {
  #statusPembayaranSuksesContent {
    margin-top: 10px;
  }

  #statusPembayaranGagalContent {
    margin-top: 60px;
  }

  .loginInputPassword svg {
    left: 185px;
  }

  .statusGagalPembayaranJudul {
    font-size: 17px;
  }

  .rowInfoGagalBayar {
    margin-bottom: 10px;
  }

  .logoStatusGagalPembayaran {
    margin: 30px 50px;
  }

  .logoStatusSuksesPembayaran svg {
    width: 135px;
    height: 135px;
  }

  .logoStatusGagalPembayaran svg {
    width: 140px;
    height: 140px;
  }

  .tulisanGagalFontKecil {
    font-size: 11px;
  }

  .tulisanGagalFontBesar {
    font-size: 13px;
  }

  .tulisanSuksesFontKecil {
    font-size: 11px;
  }

  .tulisanSuksesFontBesar {
    font-size: 14px;
  }
}
