/* Style untuk tampilan login */

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #f7f7f7;
}

.loginWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 30px;
}

#loginFormContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  margin-top: 0px;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

input[type="text"],
input[type="password"] {
  background-color: white;
  color: #0d0d0d;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 5px;
  width: 88%;
  border: 1px solid #ced4da;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input[type="submit"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

.loginJudul {
  border-bottom: 2px solid rgb(177, 167, 167);
  padding: 10px;
}

.inputLogin {
  padding: 10px 32px;
  background-color: white;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
}

.loginLogo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.loginPilihRole {
  margin: 5px 10px 5px 40px;
}

.loginRole {
  height: 35px;
  border-radius: 5px;
  width: 35%;
  font-size: 15px;
}

.loginInputPassword {
  position: relative;
}

.loginInputPassword svg {
  position: absolute;
  left: 333px;
  top: 14px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.pilihRole {
  width: 34%;
}

.navigasiKota {
  padding-left: 10px;
}

.loginError {
  color: red;
  font-size: 12px;
}

@media (max-width: 767px) {
  .navigasiKota {
    font-size: 15px;
    padding-left: 0px;
  }

  .pilihRole {
    width: 39%;
    font-size: 12px;
  }

  .loginLogo {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 35%;
  }

  input[type="text"],
  input[type="password"] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
  }

  input[type="submit"] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    transition: all 0.3s ease-in-out;
  }

  .loginWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin-top: 0px;
    padding: 0;
  }

  #loginFormContent {
    margin-top: 10px;
  }

  .loginPilihRole {
    margin: 5px 10px 5px 40px;
  }

  .loginInputPassword {
    position: relative;
  }

  .loginInputPassword svg {
    position: absolute;
    left: 225px;
    top: 14px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

@media (max-width: 414px) {
  #loginFormContent {
    margin-top: 70px;
  }

  .loginInputPassword svg {
    left: 245px;
  }
}

@media (max-width: 411px) {
  #loginFormContent {
    margin-top: 50px;
  }

  .pilihRole {
    width: 40%;
    font-size: 15px;
  }

  .pinPetugas {
    font-size: 16px;
  }

  .nipPetugas {
    font-size: 16px;
  }

  .loginPilihRole {
    font-size: 17px;
  }

  .npwpPayer {
    font-size: 16px;
  }

  .pinPayer {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  #loginFormContent {
    margin-top: 35px;
  }

  .loginInputPassword svg {
    left: 225px;
  }
}

@media (max-width: 360px) {
  #loginFormContent {
    margin-top: 30px;
  }

  .loginInputPassword svg {
    left: 215px;
  }

  .loginPilihRole {
    font-size: 15px;
  }

  .pilihRole {
    font-size: 12px;
  }

  .pinPetugas {
    font-size: 14px;
  }

  .nipPetugas {
    font-size: 14px;
  }

  .npwpPayer {
    font-size: 14px;
  }

  .pinPayer {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  #loginFormContent {
    margin-top: 9px;
  }

  .loginInputPassword svg {
    left: 185px;
  }

  .loginPilihRole {
    font-size: 13px;
  }

  .pilihRole {
    font-size: 10px;
  }

  .pinPetugas {
    font-size: 14px;
  }

  .nipPetugas {
    font-size: 14px;
  }

  .npwpPayer {
    font-size: 14px;
  }

  .pinPayer {
    font-size: 14px;
  }
}
