/* Style untuk tampilan navbar officer */

.judulMapsHomeSurveyor {
  text-align: center;
  font-size: 24px;
  color: white;
  width: fit-content;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    #ffc153,
    #f99813,
    #e0770a,
    #d36808,
    #c94200
  );
  background-size: 100%;
}

.rowJudulLokasi {
  margin-bottom: 10px;
}

.legend {
  margin-top: 20px;
}

.markerLegend {
  width: 50px;
  height: 50px;
}

.kalimatLegend {
  margin: auto;
  text-align: left;
}

.kotakKontenPetaSurveyor {
  padding: 30px;
  padding-top: 10px;

  background-image: linear-gradient(
    to bottom,
    #8de2ff,
    #469bd2,
    #2a6ab1,
    #1f4a8f,
    #122756
  );
  border-radius: 10px;
}

.kontenPetaSurveyor {
  padding-top: 70px;
  background-color: white;
  padding-bottom: 10px;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

.kotakPeta {
  border-radius: 10px;
  z-index: 3;
}

@media (max-width: 767px) {
  .judulMapsHomeSurveyor {
    font-size: 18px;
    padding-bottom: 0px;
  }

  .leaflet-container {
    height: 300px;
    width: 100%;
  }

  .legendBagianMarker {
    width: 20%;
    padding-right: 11px;
  }

  .kalimatLegend {
    text-align: left;
    width: 80%;
    padding-left: 0px;
  }

  .pembatasMarker {
    margin-bottom: 15px;
  }

  .markerLegend {
    width: 40px;
    height: 40px;
  }

  .kontenPetaSurveyor {
    padding-top: 68px;
  }
}
